img.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.main-container header {
    flex: 0 0 8.5rem;
}

.wide {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.header-image {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.form.center {
    text-align: center;
    display: inline-block;
}

input[type="textarea"], textarea {
    background-color : #d1d1d1; 
  }

@media screen and (min-width: 481px) {
nav { display: block; }  /* show it on small screens */
input { width: 500px; }
}

@media screen and (min-width: 0px) and (max-width: 480px) {
nav { display: none; }   /* hide it elsewhere */
}

