<div class="main-container">
    <header class="header-1">
        <div class="wide">
            <img class="header-image" width="30%" alt="TF Logo" src="../assets/HashiCorp_Icon_White.png">
        </div>
    </header>
    
    
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
        <clr-vertical-nav [clrVerticalNavCollapsible]="true" [clrVerticalNavCollapsed]="true">
                <a clrVerticalNavLink routerLink="/home" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="home"></clr-icon>Home</a>
                <a clrVerticalNavLink routerLink="/service-mesh" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="cloud-traffic"></clr-icon>Service Mesh</a>
                <a clrVerticalNavLink routerLink="/messaging" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="talk-bubbles"></clr-icon>Messaging</a>
                <div class="nav-divider"></div>
                <a clrVerticalNavLink routerLink="./credit" routerLinkActive="active">
                    <clr-icon clrVerticalNavIcon shape="user"></clr-icon>Credit</a>
            </clr-vertical-nav>
    </div>
