/* You can add global styles to this file, and also import other style files */
.progress.loop {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}