<div>
    <div class="outer">
        <div class=row *ngIf="!showCards"> 
            <div class="progress danger">
                <progress max="100" value="0" data-displayval="0%"></progress>
                <span class="danger-text">
                    <clr-icon size="24" shape="exclamation-circle">;</clr-icon>
                    Connection to backend timed out. >
                    <a>Try again</a>
                </span>
            </div>
        </div>
        <div class=row *ngIf="showCards"> 
            <img class="logo" width="15%" alt="TF Logo" src="../assets/Terraform_VerticalLogo_FullColor.png">
            <img class="logo" width="15%" alt="Vault Logo" src="../assets/Vault_VerticalLogo_FullColor.png">
            <img class="logo" width="15%" alt="Consul Logo" src="../assets/Consul_VerticalLogo_FullColor.png">
            <img class="logo" width="15%" alt="Nomad Logo" src="../assets/Nomad_VerticalLogo_FullColor.png">
        </div>
    </div>
    <div class="clr-row">
            <div>
                <div class="card">
                    <div class="card-header">
                        Welcome to the Demo Zone!
                    </div>
                    <div class="card-block">
                        <div class="card-text">
                            This application is meant to demo functionality within HashiCorp Consul. Items on this page will render
                            based on configurations within Consul. 
                            <br>
                            The application itself is a 3-Tier application consisting of an Angular (8) Frontend running behind Nginx,
                            a Python (Flask) based API, and a PostgreSQL database. The UI framework is Clarity UI. 
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
